<h1> <%= @department.name %></h1>
<h3> <%= @department.description %></h3>
<p> <%= link_to  "Edit this department", edit_department_path(@department.id) %> &nbsp <%= link_to  "Delete this department", department_path, method: :delete %></p>